{%extends 'cupcake_site/base.html' %}
{% load staticfiles %}
<!--Create and display PostCreatView Form to add a new post if user is logged in. -->
{% block title_block %}
AddPost 
{% endblock %}


<head> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!--container, row, col_x and justify-content-centre creates a simple layout with one row and one column-->
</head>  

{% block body_block %}

{% load crispy_forms_tags %}
 <div class="jumbotron p-4">
    <div class="container">
     <!-- ony authenticated users should access this page -->
       <h1 class="jumotron-heading">{{post.author_post}} create your new Blog article</h1>

<!--display  - TODO refactor picture this not necessary here, but may be in a display and update  -->
      {% comment %} 
      <div class="container">
      <div class="col-sm-4">
      {% if post.post_image %}
       <br />
        <img src="{{ MEDIA_URL }}{{ post.post_image }}" width="300" hight="300" alt="{{post.author_post}}'s profile picture {{post.post_image.name}}" /><!-- New line -->   
        <br/>
      {% else %}
      <!--if media files are not loading, render a default static file-->
      <br/>
      <img src="{% static url 'carrot_cupcakes.jpg' %}" width="50" height="50" />
      <br/>
      {% endif %} 
      {% endcomment %}

<!--Crispy form-->
 {% block main %} 
     <!--display post details form enable them to update values title, picture, body, status-->
        {% comment %} <div>  {% if user.is_authenticated %}  {% endcomment %}
        <form method = "post" action="." enctype="multipart/form-data">
              {% csrf_token %} 
              {{ form|crispy}} 
              <input type= "submit" value ="Submit"/>
        </form>
        </div>
        </div>
        </div>                 
  {% endblock %}              

{% endblock %}









