{%extends 'post/base.html' %}
{% load staticfiles %}
<!--Create and display CreateUserProfile Form -->
{% block title_block %}
AddPost CupcakeCode 
{% endblock %}

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!--container, row, col_x and justify-content-centre creates a simple layout with one row and one column-->
</head> 

{% block body_block %}
{% load crispy_forms_tags %}
 <div class="jumbotron p-4">
    <div class="container">
       <h1 class="jumotron-heading">{{user.username}}, create your Blog article</h1>

<!--Crispy form -->
            {% block main %}
                <form  method="post" action="{% url 'posts:#' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                   <!--Todo add button for save draft ?? not sure action is needed above unless pic included in model-->
                   
                    <!--Added in a submit button to save the form to the db-->
                    <button  type="submit"  class="btn btn-success">Post your Blog article</button>
                </form>
                <!-- TODO add a button and logic save post as draft -->
            {% endblock %}
         </div>
      </div>
    </div>
{% endblock %}




