{% extends 'cupcake_site/base.html' %}
<!-- @author Cass 2140148s July 2019  -->
   
<!--Browser tab title-->	
{% block title_block %}
    BlogCupcakeCode
{% endblock %}
		
 <div class = "container"> 
{% block body_block %} 

<!-- Blog container for posts 
MaterizeCSS getting started link is copied from the CND box. -->

<!--Different Design style in a box <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!--so each template is different wrap into a container, this is Jinja below in brackets-->
    <header class = "container center-align">
        <h1><b>B L O G  - learning journey's</b></h1> 
    </header>
    
    <div class = "container">
        {% block blog_content %}
        {% endblock %}

        
       
{% endblock %} 
<!--footer is inherited from cupcake_site base template-->
  