{% extends 'posts/posts_layout.html' %}
{% load staticfiles %}

{% block blog_content %}
 

    <!--for each post if the status is publish, display the title as a link-->
    <h4 class = "container center-align"><n></n><n></n>l a t e s t &nbsp;&nbsp;p o s t s</h4>
    <h6 class = "centre-align blue lighten-4", class="container centre-align">sub heading</h6>

    <ul class = "collection">
        {% for post in posts %} 
            <li class = "collection-item"><a href= "{% url 'posts:posts_details' id=post.id %}">{{post.title}}>
            </a></li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %} 
    <div>
    <a style = "display:block" class="center-align" href="{% url 'posts:add_post' %}" >Add New Post</a> 
    </div>
    {% endif %} 

{% endblock %}