{% extends 'cupcake_site/base.html' %}

<!--based on -->
{% block title_block %}
    RegisterAtCupcake
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumotron-heading">Register for a Cupcake Code account</h1>
            <p>Registration allows you to be part of the community by creating a profile. Once registered you can view other profiles, recommend and add your own learning resources links to our learning tools, have a voice by posting comments or likes on blog articles/learning resources or even posting an article of your own, telling us about your coding journey. We would love to hear from you. </p>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="form-group">
                <form role="form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <p class="required">
                            <label class="required" for="id_username">
                            Username:
                            </label>
                            <input class="form-control" id="id_username" maxlength="30" name="username" type="text" />
                            <span class="helptext">Username is required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                        </p>
                        <p class="required">
                            <label class="required" for="id_email">
                            E-Mail:
                            </label>
                            <input class="form-control" id="id_email" name="email" type="email" />
                        </p>
                        <p class="required">
                            <label class="required" for="id_password1">
                            Password: 8 characters or longer, cannot include
                             username or obvious passwords 
                            </label>
                            <input class="form-control" id="id_password1" name="password1" type="password" />
                        </p>
                        <p class="required">
                            <label class="required" for="id_password2">
                            Password confirmation:
                            </label>
                            <input class="form-control" id="id_password2" name="password2" type="password" />
                            <span class="helptext">Enter the same password as before, for verification.</span>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %} 
