{%extends 'cupcake_site/base.html' %}
{% load staticfiles %}
<!--Display a User's Profile - template is only available to registered users
if selected user is the logged in user: display form to enable user to amemd profile details-->
{% block title_block %}
Cupcake Code Trial {{ selecteduser.username }} 
{% endblock %}

{% block body_block %}
<div>
<header class = "container center-align">
    <h1><b> Cupcake Code Tutorials </b> </h1><br/>
    <h6>Page under construction. This service is currently unavailable</h6>
</header>
{% endblock%}