{% extends 'cupcake_site/base.html' %}
{% load staticfiles %}

{% block title_block %}   
    HomeCupcakeCode
{% endblock %}

{% block body_block %}
<!--Page is split into equal columns-->
<header class = "container centre-align">
<div class="row">

<!-- Page Left Row-->
<div class="col-sm-6">
<div class="container">
<!--Welcome message or, if logged in Hello username-->
{% if user.is_authenticated %}
    <h5>Hello  {{ user.username }}</h5> 
{% else %}
    <h5> Welcome!</h5><h6><a href="{% url 'registration_register' %}" >Sign up</a> to experience more awesome features of this site!</h6>
{% endif %}
<p>Welcome to this information website aimed at encouraging women to learn to code. 
Why not try out some code now? Click the red Start button for a cup cake themed coding tutorial.</p>
<!--Card display Cupcake Tutorial red button on Computer desk image overlayed with text-->   
<div class="card card-blog">
    <div class="card">
    <!--Image-->
        <img id="image" src="{% static 'images/plantsLaptop.jpg' %}" alt="Picture of a Desk with PC and plants" style="width:100%;">
        </div>
    <!--Text overlayed on image-->
    <div class="card-body text-centre carousel-caption">
        <h3 class="card-title" >!! TRY SOME CODE !! </h3>
        <div class="card-description"><strong>3 min code fun on cupcakes</strong>
            <div class="table-responsive">go go go
            </div> 
        </div>
    <!--Start Button overlayed on image-->
    <div class="card-footer">
        {% comment %} todo map link url to app <a href="{% url 'cupcake_site:cupcake_tutorial' %}"{% endcomment %}
        <a href="{% url 'cupcake_site:cupcake_tutorial' %}" class="btn btn-danger btn-round">CLICK HERE TO START</a>
        </div> 
    <!--close card-->
    </div>
    <!--close blog card--> 
    </div>

<!--text beneath main image-->
<br>
<p>For more coding exercises and lessons see Learning Tools <a href="{% url 'cupcake_site:tools' %}" >Click Here</a>. Like cakes? I'm sure you've baked a few cupcakes over time, if you can follow instructions in a cookbook you may find learn to code fun. There is an amazing quantity of resources available on-line and free guidance on offer. Once you get started, like baking cakes, it's actually pretty addictive. </p>
<!--lower left page image-->
<div>
<img src="{% static 'images/vanilla1_cupcakes.jpg' %}" style="width:100%;" alt="Picture of cupcakes" />
</div>
<!--Close Grid Column-->
</div>
<!--Close Grid Container-->
</div>

<!-- Page  Right row -->
<div class="col-sm-6">
<div class="container">
<h5>I've set up this site to encourage you to start coding! </h5><p>There are so many reasons to get on board the digital revolution, understanding tech helps us protect and guide our children. Developing tech skills can lead to better career prospects.</p>
<img src="{% static 'images/Jo.jpg' %}" width="550" height="340"    " alt="Picture portrait of web author" />
<!--text under image of person-->
<br><br>
<p>I have been coding for 2 years, it all started with by wanting to know more about how to protect my kids on-line. <a href="{% url 'posts:posts_index' %}">Read More</a> Check out my Blog if you would like to find out how I got into coding, and why more of us should...as well as many more inspirational stories from women in tech. </p>
<br>
<div>
<img src="{% static 'images/digitalcakes.jpg' %}" width="550" height="340" alt="Picture of digital cup cakes" />
</div>
</div>
<!-- Close Card  --> 
</div> 
<!-- Close Grid column -->
</div>
<!-- Close Container -->
</div>
<!-- Close Row -->
</div>
    
{% endblock %}

