{% extends 'cupcake_site/base.html' %}
{% load staticfiles %}
<!--Create and display List of Registered Users  -->
{% block title_block %}
    User Profiles
{% endblock %}

{% block body_block %}
<!--Display formatting -->
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumotron-heading">User Profiles</h1>
    </div>
</div>
    
<div class="container">
    <div class="row">
        {% if userprofile_list %}
            <div class="panel-body">
                <div class="list-group">
                <!--display every user registered on the database -->
                    {% for listuser in userprofile_list %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a href="{% url 'cupcake_site:profile' listuser.user.username %}">
                            <!--diplay registered user's picture or default image -->
                                {% if listuser.picture %}
                                <img src="{{ MEDIA_URL }}{{ listuser.picture }}" width="50" height="50" />
                                {% else %}
                                <img src="{% static 'images/no_user_image.jpg' %}" width="50" height="50" />
                                {% endif %}
                                <!--display registered username -->
                                {{ listuser.user.username }}
                            </a>
                        </h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
        <!--Message if no users are registered -->
            <p>There are no users with profiles at present on this site.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}

