{% extends 'cupcake_site/base.html' %}
{% load staticfiles %}<!-- New line -->

{% block title_block %}   
    LearningToolsCupcakeCode
{% endblock %}

   
{% block body_block %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> {% endcomment %}
<div>
  <header class = "container center-align">
        <h1><b>Learning Tools </b></h1> 
        <h6>There are many amazing learning resources available on line.<br/> 
        So where to begin? This site aims to direct you onto really useful links to start coding.  Many resources are available for free, there are some great organisations encouraging you to code, offering support, free coaching, classes and free tickets to attend events. Click on the category for a list of web links to view. </h6>
    </header>
      
<div class = "container">
<h3 class = "centre-align blue lighten-4", class="container centre-align">Categories</h3>
{% comment %} <div class ="card"> {% endcomment %}
  <div class = "card-content">
    <div>
    {% if categories %}
      <ul>
      {% for category in categories %}
          <li><a href="{% url 'cupcake_site:show_category' category.slug %}" >{{ category.name}}</a> </li> 
      {%endfor %}
      </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </div>
  <!--Link to add a new category - this is still inside the card-->        
 {% if user.is_authenticated %}
<div>
    {% comment %} <a style = "display:block" class="center-align" href="{% url 'cupcake_site:add_category' %}" >Add New Category</a> {% endcomment %}
    <h6>Spotted something is missing here, then go ahead and add another learning tool.</h6> 
    <a href="{% url 'cupcake_site:add_category' %}"  class="btn btn-secondary" role="button">Add New Category Tool</a>
      </div>
       {% endif %} 
  
    </div>
  </div>
 </div>
{% endblock %}