{% extends 'cupcake_site/base.html' %}
{% load staticfiles %}<!-- New line -->

{% block title_block %}   
    LearningToolsCupCakeCode
{% endblock %}

   
{% block body_block %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> {% endcomment %}
<div>
 <div class="col-sm-4"> 
<h3 class = "centre-align blue lighten-4", class="container centre-align"> Learning Tools</h3>
    <div class ="card">
        <div class = "card-content">
    <div>
    <h3>Top Categories</h3>
    {% if categories %}
      <ul>
      {% for category in categories %}
      <li><a href="/cupcake_site/tools/{{category.slug }}/" >{{ category.name}}</a></li>
          {% comment %} <li><a href="{% url 'cupcake_site:show_category'/category.slug %}" >{{ category.name}}</a> </li>  {% endcomment %}
      {%endfor %}
      </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </div>
          
  
    </div>
  </div>
 </div>
{% comment %} {% if user.is_authenticated %}  {% endcomment %}
     <div>
     <a style = "display:block" class="center-align" href="{% url 'cupcake_site:add_category' %}" >Add New Category</a>
      </div>
{% endblock %}