{% extends 'cupcake_site/base.html' %}

{% block title_block %}   
    {% if category %}
      {{ category.name}}CupcakeCode
    {% else %}
      Unknown category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
       <h1> {{ category.name}}  </h1>

        {% if pages %}
          <ul>
              {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title}}</a> {{page.description}} </li>

              {% endfor %}
          </ul> 
        {% else %}
          <strong>No pages currently in category.</strong>
        {% endif %}
        
        &emsp;&emsp;&nbsp;&nbsp;<a href="{% url 'cupcake_site:tools' %}">Back</a>
        <br>

       {% if user.is_authenticated %}
  <!-- category.slug is passed thorugh as a parameter to the url template tag --> 
        &emsp;&emsp;&nbsp;&nbsp;<a href="{% url 'cupcake_site:add_page' category.slug %}">Add a Page</a>
       {% endif %} 
    {% else %}
          The specified category does not exist!
    {% endif %}
  

  {% endblock %}


